# macos files
.DS_Store

# R compilations
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# ignore readme html
README.html

# PyCharm
.idea/

# Virtual environments
venv/

# QGIS auxiliary xml
*.aux.xml

# Python compilations
__pycache__

# The hunt is on for removing these meddling files!
# desktop.ini
