table ul {
    padding-left: 15px;
    margin-bottom: 0px;
}
table p {
    margin-bottom: 0px;
}
blockquote cite {
    font-size: 14px;
}
blockquote {
  position: relative;
  font-family: serif;
  font-size: 1.25em;
  line-height: 1.0em;
  font-style: italic;
}
blockquote::before {
    content: '\201C';
    position: absolute;
    top: 0.25em;
    left: -0.15em;
    color: #ebebeb;
    font-size: 6em;
    z-index: -1;
}
cite {
  font-size: 0.75em;
  color: #646365;
}
